{% extends 'base.html' %}

{% block title %}Delete{% endblock title %}

{% block content %}
    <div class="row">
        <!-- <div class="col-lg-6 offset-lg-3"> -->
            <div class="card mt-4">
                <div class="card-header">
                    <h1>Delete post</h1>
                    <p>Are you sure you want to delete task <strong>"{{ task.title }}"</strong>?</p>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div>
                            <button type="submit" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i> Delete
                            </button>
                            <a href="{% url 'task' task.id %}" class="btn btn-primary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        <!-- </div> -->
    </div>
{% endblock content %}