{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New task{% endblock %}

{% block content %}
<h1>New task</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}