{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                
                    {{ form|crispy }}
                <div>
                    <button class="btn btn-primary" type="submit">Login</button>
                    <div class="label round secondary"><a href="/register/">Register</a></div>
                    <!-- <div class="label round secondary"><a href="/password_forgot/">Forgot password?</a></div> -->
                    <div class="label round secondary"><a href="/password-reset/">Password reset?</a></div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


