{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card-header">
            <h1>Forgot password</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                
                    {{ form|crispy }}
                <div>
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}