{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset password{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card mt-4">
                <div class="card-header">
                    <h1>Reset password</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div>
                            <a href="{% url 'login' %}" class="btn btn-primary">
                                <i class="fas fa-child"></i></i> Ok
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}