{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card-header">
            <h1>Profile</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                
                    <!-- {{ form|crispy }} -->
                <div>
                    Username: {{ user.username }} <br />
                    First_name: {{ user.first_name }} <br />
                    Last_name: {{ user.last_name }} <br />
                    E-mail: {{ user.email }} <br />
                    <br />
                    <a href="{% url 'profile_change' %}" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Edit profile
                    </a>
                    <a href="{% url 'password_change' %}" class="btn btn-warning">
                        <i class="fas fa-unlock-alt"></i></i> Password change
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


